__pycache__/
.idea/
.DS_Store
src/weather_generator/build
src/postprocessing/cal_parsing/build
/forcing/
app/*
examples/sens/output
examples/post_process/plant_hydraulics/output
!app/run_model_user_interface.py
tests/runs/output/
tests/runs/output_u30/
tests/runs/output_u31/
tests/post_process/output
src/cal_parsing/build/
science/phillip/output
local
