__pycache__/
.idea/
.DS_Store
src/weather_generator/build
src/postprocessing/cal_parsing/build
/forcing/
app/*
examples/sens/LH_test
examples/sens/oaat_example
!app/run_model_user_interface.py
tests/runs/output/
